@font-face {
    font-family: 'KoreanKRSM';
    font-style: normal;
    src: url("../assets/KoreanKRSM.ttf") format("truetype");
}

* {
    font-family: 'KoreanKRSM', sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

body {
    height: 100%;
    font-size: 18px;
    overflow-x: hidden;
    background: url("../assets/background.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: #FF0405; /* fallback */
}

body, div {
    color: white;
    text-shadow: 2px 2px black;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
}

h2,
p,
label,
button {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

a {
    color: white;
    text-shadow: 2px 2px black;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
}

a:hover {
    filter: invert(1);
}

#header {
    display: grid;
    grid-template-columns: 40% 1fr;
    height: 100%;
}

#header > #intro-text {
    text-align: right;
    vertical-align: middle;
    padding-right: 50px;
}

#header > #intro-icon > img {
    position: relative;
    width: 40%;
    padding-left: 50px;
}

#beta {
    position: absolute;
    font-size: small;
}

#credits {
    color: white;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;

}

#credits > * {
    margin: 2px;
}

#support {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    right: 5%;
    transform: translateY(-120%);
}

#version {
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
}

.mobile {
    display: none;
}

#notice {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    text-align: center;
    text-shadow: none;
    border: 3px solid black;
    z-index: 10;
}

@media screen and (max-width:767px),
screen and (max-device-width:767px) {
    .mobile {
        display: block;
    }

    #header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; 
    }

    #header>#intro-text {
        padding-right: 5px;
    }

    #header > #intro-icon > img {
        width: 50%;
        height: 0 auto;
        padding-left: 0;
        z-index: -1;
    }

    #support {
        position: relative;
        transform: translate(5%, 5%);
    }
}
